Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>.
Ans:

In [ ]:
SELECT FIRST_NAME as WORKER_NAME
FROM Worker;

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
Ans:

In [ ]:
SELECT DISTINCT DEPARTMENT 
FROM Worker;

Q-3. Write an SQL query to show the last 5 record from a table.
Ans:

In [ ]:
SELECT *
FROM (select * from suppliers ORDER BY supplier_id DESC) suppliers2
WHERE rownum <= 5
ORDER BY rownum DESC;